﻿@using Stryker.Conversations;
@using Stryker.Conversations.Web;
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
@using (Html.BeginForm())
{   
    <input name="userText" placeHolder="Enter Text" value="@Conversation.Current["Message"]" /> 
    <input type="submit" value="Next &raquo;" />
}
