﻿@using Stryker.Conversations;
@using Stryker.Conversations.Web;
@{
    ViewBag.Title = "Home Page";
}

<h2>@Conversation.Current["Message"]</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<p>
    Finished.
</p>
